<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Resetpassword | Sabka Bazar</title>
    <!-- <link rel="stylesheet" href="../assets/styles/theme.css"> -->
    <link rel="stylesheet" href="../assets/sass/pages/resetpassword.css" />
    <link rel="stylesheet" href="../assets/sass/pages/header.css">
    <link rel="stylesheet" href="../assets/sass/pages/footer.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Dosis:400,600,700"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <body>
    <!-- section-header-start -->
    <header class="header" id="header"></header>

    <!-- Sample Division for the content-start -->
    
      <div>
        <form class="reset-form" autocomplete="off">
          <div class="form-container">
            <h2 class="reset-password">Reset Password</h2>

                <div class="input-fields">
                    <label class="required">Email address</label>
                    <input type="text" name="text1" id="email" autofocus tabindex="1"   />
                    <div class="input-indicator"></div>
                    </div>
                    <div id="emailerror"  class="error-msg"></div>

                    <div class="input-fields">
                        <label class="required" for="password">Password</label>
                        <input type="password"   id="resetpassword" />
                        <span class="eye" onclick="myFunction()">
                          <i id="hide1" class="fa fa-eye">
                          </i>
                          <i id="hide2" class="fa fa-eye-slash">
                          </i>
                        </span>
                        <div class="input-indicator"></div>
                    </div>
                    <div id="passworderror"  class="error-msg"></div>
                    
                    <div class="input-fields">
                        <label class="required" for="confirm-password">Confirm Password</label>
                        <input type="password" tabindex="3"  id="confirm-password" onclick="confirmpassword()"/>
                        <span class="eye" onclick="myFunction1()">
                          <i id="hide3" class="fa fa-eye">
                          </i>
                          <i id="hide4" class="fa fa-eye-slash">
                          </i>
                        </span>
                        <div class="input-indicator"></div>
                    </div>
                    <div id="confirmpassworderror"  class="error-msg"></div>
                
              
                <button  name="submit" value="Submit" onclick="passwordchanged(event)">Reset</button>
                
          </div>
        </form>
      </div>
   
    <!-- Sample Division for the content-end -->

    <!-- footer-start -->
    <footer>
      <div class="footer">
          Copyright &copy; 2011-2018 Sabka Bazaar Grocery Supplies Pvt Ltd
      </div>
  </footer>
    <!-- footer-end -->

    <!-- <script type="module" src="../assets/js/loginuserinterface.js"></> -->
    <script src="../assets/js/resetpassword.js"></script>
  <script type="module" src="../assets/js/header.js"></script>
  </body>
</html>
